In [1]:
import pandas as pd
import os

In [11]:
dummy_df = pd.read_csv(r'master_data_scraping_Result/master_activity.csv')

In [9]:
print(dummy_df.columns)

Index(['title', 'review_point', 'review_total', 'sub_category', 'address',
       'contact_number', 'open_hours', 'Service options', 'Offerings',
       'Dining options', 'Amenities', 'Atmosphere', 'Crowd', 'Payments',
       'coordinate', 'link', 'Accessibility', 'regency', 'price_level', 'site',
       'Planning', 'short_description', 'Highlights', 'check_in',
       'From the business', 'metadata', 'Popular for', 'check_out',
       'amenities'],
      dtype='object')

In [19]:
validation_df = pd.read_csv(r'data_scraping_result/PC 1/restaurant.csv')

In [12]:
print(dummy_df.columns)

Index(['title', 'review_point', 'review_total', 'sub_category', 'address',
       'contact_number', 'open_hours', 'metadata', 'coordinate', 'regency',
       'link', 'site', 'amenities', 'check_in', 'check_out', 'Service options',
       'Offerings', 'Dining options', 'Amenities', 'Atmosphere', 'Crowd',
       'Planning', 'Payments', 'price_level', 'Highlights', 'Accessibility',
       'short_description', 'From the business', 'about', 'Recycling',
       'Popular for'],
      dtype='object')

In [13]:
villa_col_name = ['title','address','contact_number','amenities','coordinate','regency']
food_col_name = ['title','short_description','adress','contact_number','price_level', 'sub_category','amenities','regency','coordinate','open_hours']
wow_col_name = ['title','sub_category','short_description','address','contact_number','site','amenities','regency','coordinate','open_hours']

In [15]:
new_df = validation_df[villa_col_name]

In [18]:
print(new_df['address'].head(20))

0     28H5+RR6, Jl. Ir. Soekarno, Saumlaki, Tanimbar...
1                M927+68J, Kairatu, West Seram, Maluku
2     48VJ+4F, Tumbur, Wer Tamrian, Tanimbar Islands...
3     J9PG+442, Jl. Trans Seram, Kairatu, Kec. Kaira...
4     48VJ+4F, Tumbur, Wer Tamrian, Tanimbar Islands...
5                M96G+9V6, Kairatu, West Seram, Maluku
6     Jl. Ir. Soekarno, Olilit, Tanimbar Sel., Kab. ...
7                J9PF+9Q7, Kairatu, West Seram, Maluku
8     38JQ+43P, Kabiarat Raya, South Tanimbar, Tanim...
9                J9X7+HPW, Kairatu, West Seram, Maluku
10    284H+WGC, Jl. Atek Lawanaman, Olilit, Tanimbar...
11     W658+5J9, Etty, Seram Barat, West Seram, Maluku
12    3877+7JW, Jl. Boediono, Lauran, Tanimbar Sel.,...
13     W5VR+PW2, Piru, Seram Barat, West Seram, Maluku
14    Jl. Umalas Klecung No.168, Kerobokan Kelod, Ke...
15    X5F9+M5M, Jln Pendidikan, Piru, Seram Barat, W...
16    279W+JCR, Jl. Bhineka, Saumlaki, Tanimbar Sel....
17    Jl. Trans Seram, Waimital, Kec. Kairatu, Kabup...
18    Jl. Nakula 5 No.8x, Legian, Kec. Kuta, Kabupat...
19     M89W+CM2, Waipirit, Kairatu, West Seram, Maluku
Name: address, dtype: object